.top_navbar_for_user_dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.first_child {
  margin: 0px 20px;
  font-size: 20px;
  font-weight: 600;
}
.lower_div_for_dashboard {
  display: flex;
}
.leftdiv_lower_dashboard {
  width: 350px;
  height: 89vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #263544;
  overflow-y: scroll;
  overflow-x: hidden;

}
.rightdiv_lower_dashboard {
  width: 100%;
  height: 88vh;

  padding: 10px 10px;
  overflow-y: scroll;
}
.inner_data {
  cursor: pointer;
  background-color: #1d2531;
  color: #b7c0c3;
  width: 220px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 10px;
}
.inner_data:hover {
  color: white;
}
.inner_data2 {
    cursor: pointer;
    color: #b7c0c3;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
  }
  .inner_data2:hover {
    color: white;
    background-color: #263544;
  }
  .all_order_inner_dropdown{
    padding: 10px 10px;
    margin: 10px ;
    width: 200px;
    /* background-color: #0e1d27; */
  background-color: #1d2531;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
display: none;
  }
.inner_data1 {
  cursor: pointer;
  background-color: #1d2531;
  color: #b7c0c3;
  width: 220px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  padding: 15px 10px;

  justify-content: space-between;
}

.inner_data1:hover {
  color: white;
}
.fa-chevron-down,
.fa-chevron-up {
  padding-right: 10px;
}
.text_for_data {
  margin-left: 10px;
}

.for_inner_order {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.25) -8px 5px 5px, 10px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.for_inner_order_admin {
  margin-top: 20px;
  width: 100%;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) -8px 5px 5px, 10px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.second_inner_div_admin_dashboard_Order {
}
.user_upper_details_div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.user_details {
  border-radius: 2px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 335px;
  height: 60px;
  padding-left: 5px;
}

.event_date,
.event_location {
  display: flex;
}
.event_date label {
  margin-right: 10px;
}
.event_location label {
  margin-right: 10px;
}
.delete_btn {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.anhcor_for_userdashboard{
  text-decoration: none;
  color: black;
}
.anhcor_for_userdashboard:hover{
  color: black;

}
