.main4custom {
  background-color: var(--color4);
  color: white;
  /* text-align: center; */
}

.justi {
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.lineh {
  line-height: 50px;
}
.video_div{
    /* width: 300px;
    height: 300px; */
}


.mian_for_before_custom{
  display: flex;justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  height: 100vh;
}
.inputs_for_beforecustom{
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}.child_for_beforecustom{
  margin: 10px 0px;
}
.child_for_beforecustom input{
  width: 350px;
  margin: 0px 10px;
  padding: 10px 5px;
  border: 1px solid var(--color4);
}
.btn_for_beforecustom{
  background-color: var(--color4);
  color: white;
}