.main4custom {
  background-color: var(--color4);
  color: white;
  /* text-align: center; */
}

.justi {
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.lineh {
  line-height: 50px;
}
.custom_img{
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 12px 14px 5px, rgba(0 ,0, 0, 0.5) -10px -12px 14px 0px;
}