.center4footer{
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anchor4footer{
    text-decoration: none;

}

.innerwidth{
    cursor: pointer;
    width: 100%;
    padding: 0px 20px;
    height: 220px;
    /* border: 1px solid var(--color4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
border-radius: 5px;
font-weight: 400;
    color: var(--color4);
    transition: all 0.5s ease;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.innerwidth:hover{
    transform: translateY(-1em);
    background-color: var(--color4);
    color: white;
}

.width4footer i{
    font-size: 35px;
}
.newpara{
    font-size: 15px;
    font-weight: 600;
    color: var(--color4);
    letter-spacing: 2px;
    margin-top: 5px;
}
.input4news{
    width: 300px;
    height: 50px;
    box-shadow: none;
    outline: none;
    border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4);
    border-left: 1px solid var(--color4);
border-right: none;
padding-left: 10px;
}
.btn4news{
    width: 120px;
    height: 50px;
    border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4);
    border-right: 1px solid var(--color4);
    box-shadow: none !important ;
    outline: none !important;
    border-left: none;
    background-color: var(--color4);
    color: white;
}
.footerlefttext, .footermiddletext{
    color: var(--color4);
    /* font-weight: 600; */
}
.footerlefttext p{
    text-align: justify;
}
.footermiddletext li{
list-style: none;
}
.footersocial{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--color4);
    margin-left: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 1s ease;
}
.footersocial i{
    font-size: 30px;
    color: var(--color4);

}
.footersocial:hover{
    background-color: var(--color4);
}
.footersocial:hover i{
    color: white;

}
.footercopy{
    color: var(--color4);
    font-weight: 600;
}
@media (max-width:425px) {
    .input4news{
        width: 230px;

    }
    .btn4news{
width: 90px;
    }
    .leftsocial{
        flex-direction: column;
    }
    .footermiddletext{
        margin-top: 10px;
    }
    .footersocial{
        margin-top: 10px;
    }
    
}