
.main_for_birthday_custom{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 10px 0px; */
}
.inner_div1_for_custom_birthday{
width: 100%;
/* height: 90vh; */
/* height: 1000px; */
/* background: url("./Images/birthday_bg.png"); */
background-size: cover;

}
.inner_div1_for_custom_birthday img{
    width: 100%;
}
.inner_div2_for_custom_birthday{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.inner_child_for_custom_birthday1{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_bg.png");
    background-size: cover;
 cursor: pointer;
}
.inner_child_for_custom_birthday2{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_curatain.png");
    background-size: cover;
    cursor: pointer;

}
.inner_child_for_custom_birthday3{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn-ctable.png");
    background-size: cover;
    cursor: pointer;

}
.inner_child_for_custom_birthday4{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_dinning.png");
    background-size: cover;
    cursor: pointer;

}
.inner_child_for_custom_birthday5{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_cake.png");
    background-size: cover;
    cursor: pointer;

}
.inner_child_for_custom_birthday6{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_balloon.png");
    cursor: pointer;

    background-size: cover;
}
.inner_child_for_custom_birthday7{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    background: url("./Images/btn_spell.png");
    background-size: cover;
    cursor: pointer;
margin-top: 10px;
}

.new_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid var(--color4);
    border-radius: 10px ;
    width: 180px;
}
.new_div label{
    color: black;
    margin-top: 5px;
}

.first_option1,.first_option2{
    width: 70px;
    height: 70px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color: black;
    font-size: 15px;
    border: 3px solid var(--color4);

cursor: pointer;

}
.options_table{
    display: flex;


}


.table1{
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: 100px; */
}
.caketable{
    position: absolute;
    top: 0px;
    left: 0px;

}
.cake1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.decor1{
    position: absolute;
    top: 0px;
    left: 0px;
}
.ballon2{
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: 30px; */
}
.baloon1{
    position: absolute;
    top: -200px;
    left: 0px;
}
